// Colors
$primary-font-color: #000000 !default;
$secondary-font-color: #FFFFFF !default;
$ternary-font-color: #9B9B9B !default;
$quaternary-font-color: #3D6EA4 !default;
$quinary-font-color: #FFE81F !default;
$bg-color-light: #FFFFFF !default;
$bg-color-medium: #181818 !default;
$bg-color-dark: #120603 !default;

// Font
$primary-font-family: 'OpenSans', sans-serif, Helvetica, Arial, sans-serif !default;

//$maxWidth
$maxWidth: 124.4rem !default;

//Container sizes
$container-padding: 3.3rem !default;